html{
    height : 100%;
}
body{
    height : 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{    
    width : 80px;
    height : 80px;
    margin : 2px;
    border : #1D2F42 2px solid;
    border-radius: 8px;
    font-size : 30px;
    font-weight: bold;
    background-color: #9CE9FF;
    color : #1D2F42;
}
button:active{    
    background-color: #1D2F42;
    color : #9CE9FF;
}
#contents{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dcf7ff;
    padding : 10px 20px 20px 20px;
    border : #1D2F42 3px solid;
    border-radius: 10px;
}
#head{
    display :flex;
    align-items: center;
}
#title{
    font-size: 50px;
    color : #1D2F42;
    margin : 20px 5px;
}
#formula-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    width : 312px;
    min-height: 80px;
    background-color: white;
    border : #1D2F42 2px solid;
    border-radius: 8px;
    margin-bottom : 20px;
    padding : 10px;
    text-align: right;
    vertical-align: bottom;
}
#history{
    width : 312px;
    font-size : 20px;
    color : #596270;
    margin: 0;
}
#formula{
    width : 312px;
    word-wrap: break-word;
    font-weight: bold;
    font-size : 40px;
    color : #1D2F42;
    margin: 0;
}
#button-group{
    display: flex;
}
#backspace{
    display: flex;
    align-items: center;
    justify-content: center;
}
#line{
    display: flex;
    flex-direction: column;
}
#equal{
    height : 248px;
}
#profile-img{
    width : 70px;
    height : 70px;
    margin : 20px 5px;
    border-radius: 10px;
}
#backspace-img{    
    width : 30px;
    height : 30px;
}
#how-to-use{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width : 332px;
    height: 200px;
    margin : 10px;
    background-color:#1D2F42;
    color :#9CE9FF;
    border-radius: 10px;
}
#how-to-use-title{
    margin : 10px;
    text-align: center;
}
#how-to-use-content{
    width : 300px;
    margin : 0;
}
